<div class="container mt-5 box-shadow">
  <h2 class="mb-4">Lista de Categorias</h2>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th class="rem15">ID</th>
        <th class="rem15">Descrição</th>
        <th class="rem15">Valor</th>
        <th class="rem15">Situação</th>
        <th class="rem15">Pagamento</th>
        <th class="rem15">Vencimento</th>
        <th class="rem15">Categoria</th>
        <th class="rem15">Observações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills">
        <td class="rem15" [ngClass]="billColor(bill)">{{ bill.id }}</td>
        <td class="rem15" [ngClass]="billColor(bill)">{{ bill.bill_description }}</td>
        <td class="rem15" [ngClass]="billColor(bill)">R$ {{ bill.bill_value.toFixed(2) }}</td>
        <td class="rem15" [ngClass]="billColor(bill)">{{ bill.is_paid ? 'Pago' : 'A pagar' }}</td>
        <td class="rem15" [ngClass]="billColor(bill)">{{ bill.payment_date ? bill.payment_date : 'N/A' }}</td>
        <td class="rem15" [ngClass]="billColor(bill)">{{ bill.due_date }}</td>
        <td class="rem15" [ngClass]="billColor(bill)">{{ bill.category_id }}</td>
        <td class="rem15" [ngClass]="billColor(bill)">{{ bill.observations ? bill.observations : '-' }}</td>
      </tr>
    </tbody>
  </table>
</div>
