<div class="container mt-5 box-shadow">
  <h2 class="mb-4">Cadastro de Categoria</h2>
  <form id="categoryForm">
    <div class="mb-3">
      <label for="category_name" class="form-label">Nome da Categoria</label>
      <input
        type="text"
        class="form-control"
        id="category_name"
        name="category_name"
        placeholder="Insira o nome da categoria"
        [(ngModel)]="category.category_name"
        required
      />
    </div>
    <div class="mb-3 center">
      <button (click)="createCategory()" type="submit" class="btn btn-primary box-shadow">
        Adicionar
      </button>
    </div>
  </form>

  <div id="responseMessage" class="mt-3"></div>
</div>
