<div class="container mt-5 box-shadow">
  <h2 class="mb-4">Cadastro de Conta</h2>
  <form id="billForm">
    <div class="row">
      <div class="mb-3">
        <label for="bill_name" class="form-label">Descrição da Conta</label>
        <input
          type="text"
          class="form-control"
          id="bill_name"
          name="bill_name"
          placeholder="Insira a descrição da conta"
          [(ngModel)]="bill.bill_description"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="bill_value" class="form-label">Valor</label>
        <input
          type="text"
          class="form-control"
          id="bill_value"
          name="bill_value"
          placeholder="R$ 0.00"
          [(ngModel)]="bill.bill_value"
          required
        />
      </div>
      <div class="col-md-6 mb-3">
        <label for="bill_date" class="form-label">Data de Vencimento</label>
        <input
          type="date"
          class="form-control"
          id="bill_date"
          name="bill_date"
          [(ngModel)]="bill.due_date"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="mb-3">
        <label for="bill_id" class="form-label">Categoria</label>
        <select class="form-select" id="categorie" name="categorie" [(ngModel)]="category_id" required>
          <option value="">Selecione uma categoria</option>
          <option value="0">Tecnologia</option>
          <option value="1">Educação</option>
          <option value="2">Saúde</option>
          <option value="3">Esportes</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="mb-3">
        <label for="bill_observation" class="form-label">Observações</label>
        <input
          type="text"
          class="form-control"
          id="bill_observation"
          name="bill_observation"
          [(ngModel)]="bill.observations"
          required
        />
      </div>
    </div>

    <div class="mb-3 center">
      <button
        (click)="createBill()"
        type="submit"
        class="btn btn-primary box-shadow"
      >
        Adicionar
      </button>
    </div>
  </form>

  <div id="responseMessage" class="mt-3"></div>
</div>
